@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: aliceblue;
}
section {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#excuse {
    background: blue;
    border-radius: 15px;
    color: aliceblue;
    padding: 15px;
}
#excuse li {
    list-style: none;
}